.comments
  .comments__user
    .comments__user__name スポポビッチ
    .comments__user__time 2020/0612/
  .comments__box
    .comments__box__image
    .comments__box__text これがミスターサタンか…弱すぎるぞ！！
    %i.far.fa-thumbs-up.fa-2x
