.header
  .header__box
    .header__box__title Iot-Connect
    .search-box
      .input-box
      .submit-btn
    %ul.header__box__user
      %li.header__box__user--name Tomo
      %li.header__box__user--icon
        %i.fas.fa-address-card
        %i.fa.fa-cog
-# %ul.tags
-#   %li.tags__select モノの操作をする
-#   %li.tags__select モノの状態を知る
-#   %li.tags__select モノの検知をする
-#   %li.tags__select モノの通信をする




